<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.modugarden">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modugarden"
        tools:targetApi="31">
        <activity
            android:name="com.example.modugarden.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Modugarden">

        </activity>
        <activity android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.modugarden.main.settings.SettingsActivity"/>
        <activity android:name=".signup.SignupActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".main.content.PostContentActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".main.content.CurationContentActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".main.upload.post.UploadPostActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.upload.curation.UploadCurationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.profile.follow.ProfileFollowActivity"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>